@inherits LayoutComponentBase

<div class="page">
    <div style="background-image: linear-gradient(#ffffff, rgb(189, 43, 32) 20%, black 50% ) " class="sidebar">
        <NavMenu />
    </div>
    


    <div class="main" style="background-color: #ffffff">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>